<% @conversations_with.each do |user|  %>

  <p class="<%= unread if user[2] %>"><%= link_to user[0].first_name, message_path(user[0].id) %><br>
    last message created at: <%= user[1] %>
  </p>
<% end %>
