<div class="container-navbar">
  <p class="logo">LOGO</p>
  <div class="container-buttons">
    <%= link_to "Sign up", new_user_registration_path, class: "btn-navbar" %>
    <%= link_to "Login", new_user_session_path, class: "btn-navbar btn-active" %>
  </div>
</div>
