// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_booking {
  font-size: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  input {
    margin-bottom: 20px;
    margin-left: 10px;
  }
  margin-left: 20px;
}

.btn-new-booking {
  line-height: 0px !important;
}

.booking-photo-car {
  margin-right: 20px;
  border-radius: 20px;
}

.add-review-btn2 {
    text-decoration: none;
    color: white;
    background-color: #EA565C;
    padding: 10px;
    border-radius: 5px;
}
