
.landing {
  background-image: linear-gradient(to bottom, rgba(0,6,0,0.7) 0%,rgba(255,0,0,-0.35) 100%), asset-url('cars.png');
  background-size: cover;
  margin: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

}

.landing-title {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.title {
  position: relative;
  text-align: center;
  top: 200px;
}
