
.landing {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.5) 100%), asset-url('cars.png');
  background-size: cover;
  margin: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  color: white;

}

.landing-title {
  color: white;
  font-weight: bold;
  font-size: 60px;
}

.title {
  position: relative;
  text-align: left;
  top: 200px;
  font-weight: 100;
  left: 82px;
}

.search-bar {
  position: relative;
  top: 147px;
  left: 50px;
  border-radius: 4px;
  width: 450px;
  height: 185px;
  margin-bottom: 64px;
  padding-top: 10px;
  padding-left: 32px;
  padding-right: 10px;
  padding-bottom: 50px;
  font-weight: 100;
  p {
      margin-top: 7px;
      margin-bottom: 10px;
  }
}

.search-bar h2 {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 0;
}


#submit-button {
  background: #FF5A5F;
  margin-top: 8px;
  height: 40px;
  width: 150px;
  border-radius: 8px;
  color: white;
  margin-left: 130px;
  font-size: 20px;
  font-weight: lighter;
}


#search {
  background-color: rgba(255,255,255,0.3);
  box-shadow: none;
}

