$height: 55px;

.header {
  margin-top: $height;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.container-navbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  height: $height;
}

.container-buttons {
  display: flex;
}

.btn-navbar {
  margin-right: 20px;
  line-height: $height;
  text-decoration: none;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

.logo {
  margin-left: 20px;
  height: ($height)-25;
  width: ($height*2)-50;
  margin-top: 12.5px;
}

.btn-active {
  border-bottom: solid;
  border-width: 2px;
}

.avatar {
  border-radius: 50%;
  width: ($height)-25;
  height: ($height)-25;
  margin-top: 12.5px;
  margin-right: 12.5px;
}
