// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-picture {
  width: 150px;
  border-radius: 50%;
  align-self: center
}

.profile-name{
  align-self:center
}

.container-profile {
  position: absolute;
  top: 55px;
  right: 0;
  width: 75%;
  margin-top: 20px;
}

.center-self {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-profile-btn {
    text-decoration: none;
    color: black;
    border: solid;
    border-width: 1px;
    border-color: #C2C1BF;
    width: 150px;
    height: 30px;
    line-height: 30px;
}

.profile-info {
  min-height: 500px;
  width: 25%;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 100;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  align-items: center;
}


.hidden-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
}

.btn-profile {
  color: white;
  background-color: #EA565C;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  padding: 6px;
}
