<div class="landing">
  <div class="title">
    <h1 class="landing-title">Welcome to carbnb</h1>
  </div>

  <div class="search-bar">
    <h2>Find cars everywhere on CarBNB</h2>
      <%= form_tag(cars_path, method: :get) do%>
      <%= text_field_tag(:search, params[:search], class: "white-txt")%><br>
      <%= submit_tag ("Search"), make: nil, id: "submit-button" %>
      <% end %>
  </div>
</div>
